---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
import background from "../assets/background.svg";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://cdn-icons-png.flaticon.com/128/18775/18775844.png"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Maria's Portfolio</title>
    <!-- Metas -->
    <meta
      name="description"
      content="Web developer portfolio built with Astro and TailwindCSS"
    />
    <meta name="author" content="Maria Rivera" />
    <meta
      name="keywords"
      content="Maria Rivera, web developer, portfolio, Astro, TailwindCSS, frontend developer"
    />
    <meta property="og:title" content="Maria's Portfolio" />
  </head>
  <body class="dark:bg-gray-950">
    <img
      class="fixed top-0 left-0 size-full -z-10 blur-2xl"
      src={background.src}
      alt=""
      fetchpriority="high"
    />
    <Navbar />
    <main class="max-w-screen-lg mx-auto p-6 flex flex-col gap-12">
      <slot />
    </main>
  </body>
  <style is:global>
    * {
      scroll-behavior: smooth;
    }
  </style>
</html>
